* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#uno {
  background-color: rgba(93, 82, 63, 0.621);
}

#dos {
  background-color: rgba(21, 77, 39, 0.309);
}

#tres {
  background-color: rgba(93, 82, 63, 0.621);
}

#cuatro {
  background-color: rgba(21, 77, 39, 0.309);
}

#cinco {
  background-color: rgba(93, 82, 63, 0.621);
}

.divA1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  justify-content: end;
  background-color: rgba(93, 82, 63, 0.694);
  padding: 15px;
}

.divA2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  justify-content: end;
  padding: 15px;
  background-color: rgb(50, 94, 88);
}

.divAul1 {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.divAul2 {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.divAul1 li {
  margin: 10px;
  font-size: 120%;
}

.divAul1 a {
  color: rgb(0, 0, 0);
}

.divAul2 li {
  margin: 10px;
  font-size: 120%;
}

.divAul2 a {
  color: white;
}

.logo {
  align-items: center;
  justify-content: center;
  display: flex;
  margin-right: 1250px;
}

a {
  color: black;
  text-decoration: none;
}

.icono {
  font-size: 25px;
  color: black;
}

.contenido {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.contenido2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: block;
}

.contenido3 {
  margin-left: 500px;
  margin-right: 500px;
  margin-bottom: 50px;
}

.texto-1,
.texto-2,
.texto-3 {
  margin-bottom: 50px;
  padding-top: 50px;
  padding-bottom: 15px;
}

.contenedor {
display: flex;
  margin: 53px 150px 100px 400px;
  justify-content: space-between;
}

#contacto{
display: flex;
flex-direction: row;
margin-top: 10px;
}
.servicios {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-left: 100px;
  margin-top: 200px;
  margin-right: 100px;
  margin-bottom: 64px;
}

.casa1 {
  display: flex;
  justify-content: center;
}

.contenido-servicios {

  text-align: justify;
  margin-top: 70px;
}


.contenido-portafolio {
  align-items: center;
  justify-content: center;
  float: right;
  margin-top: 200px;
  margin-right: 170px;
}

.imagen-portafolio img {
  margin-top: 30px;
  text-align: center;
  padding-top: 10px;
}

.imagen-portafolio {
  text-align: center;
}

.titulo-portafolio {
  text-align: center;
  padding-bottom: 10px;
}

.imagen-galeria {
  float: right;
  justify-content: center;
  margin-left: 150px;
  margin-top: 150px;

}

.galeria {
  justify-content: start;
  align-items: center;
  display: flex;
  margin-top: 250px;
  margin-left: 150px;
  margin-bottom: 164px;
}

.imagen-uno {
  padding: 20px;
}

.imagen-dos {
  padding: 20px;
}

.imagen-tres {
  padding: 20px;
}

#after_submit {
  justify-content: start;
  margin-left: 0px;
  margin-top: 60px;
  font-size: 30px;
  margin-bottom: 50px;
}

.row {
  margin-top: 30px;
  margin-bottom: 30px;
}

#submit_button {
  font-size: 20px;
  display: grid;
}

.input {
  font-size: 20px;
}

.gmap_iframe {
  width: 600px;
  height: 500px;
  margin-right: 50px;

}

.text-white {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-white-rgb), var(--bs-text-opacity)) !important;
}

.text-center {
  text-align: center !important;

}


footer {
  display: block;
}

.p-4 {
  padding: 1.15rem !important;
  font-size: 19px;
  background-color: rgba(93, 82, 63, 0.694);

}

.p-41 {
  padding: 1.15rem !important;
  font-size: 19px;
  background-color: rgb(50, 94, 88);

}

.p-42 {
  padding: 1.15rem !important;
  font-size: 19px;
  background-color: rgba(93, 82, 63, 0.694);
  margin-top: 663px;
}

.container {
  width: 100%;
  padding-right: var(--bs-gutter-x, .75rem);
  padding-left: var(--bs-gutter-x, .75rem);
  margin-right: auto;
  margin-left: auto;
}

.containergaleria {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.container1 {
  width: 100%;
  padding-right: var(--bs-gutter-x, .75rem);
  padding-left: var(--bs-gutter-x, .75rem);
  margin-right: auto;
  margin-left: auto;
}

section {
  display: block;
}

.text-white {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-white-rgb), var(--bs-text-opacity)) !important;
}
